html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body{
    height: fit-content;
}

/* NAVIGATION BAR */
.navbar-container{
    background-color: #30645F;
    width: 100%;
    position: sticky;
    top: 0;  
    z-index: 1000;
}

.picverse-logo{
    height: 40px;
}

.nav-inside{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0;
}

.nav-items a {
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.3s;
}

.nav-items a.active{
    text-decoration: none;
    box-shadow: inset 0 0 0 2px white;
}

.nav-items a:hover{
    text-decoration: none;
    box-shadow: inset 0 0 0 2px #9FC4BD;
    color: #9FC4BD;
}

#btn-submission{
    background-color: #DD7B55;
}

#btn-submission:hover{
    background-color: #F4F0E5;
    color: #DD7B55;
    box-shadow: none;
}

#btn-submission.active{
    background-color: #ebe2ca;
    color: #DD7B55;
    box-shadow: none;
}

/* FONTS */
h1{
    font-size: 3.15em; 
    font-family: "Space Grotesk", sans-serif;
    color: #30645F;
    font-weight: bold;
    text-align: center;
}

p{
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.25em;
    text-align: justify;
    color: #30645F;
}

/* BUTTONS */
.buttons{
    width: fit-content;
    text-decoration: none;
    color: white;
    background-color: #DD7B55;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttons:hover{
    background-color: #F4F0E5;
    color: #DD7B55;
    transition: all 0.3s;
}

/* TAGS */
.tags{
    width: fit-content;
    text-decoration: none;
    color: #DD7B55;
    background-color: transparent;
    padding: 0.75rem 1.5rem;
    border: 2px #DD7B55 solid;
    border-radius: 25px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
}

.tags:hover{
    background-color: #DD7B55;
    color: #F4F0E5;
    transition: all 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.tags.active{
    background-color: #c4613a;
    border: 2px #c4613a solid;
    color: #F4F0E5;
    transition: all 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.footer-container{
    min-height: fit-content;
    background-color: #30645F;
    padding: 3.5rem 2rem;
}

.picverse-logo-footer{
    height: 20px;
}

.footer-inside{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

hr{
    margin: 2rem 0rem;
}

.footer-cpy{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 0.75em;
}

.footer-cpy p{
    color: white;
}

.quick-links, .contact-us{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-size: 0.75em;
    color: white;
}

.quick-links p, .contact-us p{
    font-weight: 400;
    color: white;
}

.contact-us{
    width: 20rem;
}

/* HOME */
.hero{
    background-color: #30645F;
    width: 100%;
    height: fit-content;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slider-container {
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.slider-image {
    filter: blur(1px);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
}

.slider-image.active {
    opacity: 1;
}

.tagline {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 5rem;
}

.tagline h1{
    color: white;
    text-align: center;
    max-width: 50rem;
    font-size: 4em;
    text-align: center;
}

.artwork-info{
    position: absolute;
    bottom: 8rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.1rem;
    font-family: "Lexend Deca", sans-serif;
    opacity: 0;
}

.artwork-info p{
    color: white;
}

.artwork-info.active{
    opacity: 1;
}

.intro{
    min-height: fit-content;
    background-color: #9FC4BD;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-text{
    display: flex;
    flex-direction: column;
    max-width: 45%;
    padding: 8rem;
    gap: 2rem;
    color: #30645F;
}

.intro-text h1{
    text-align: start;
}


#intro-p-1{
    margin-bottom: 0.75rem;
}

#intro-img{
    width: 40%;
    height: 80vh;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.trending-tags {
    min-height: fit-content; 
    background-color: #F4F0E5;
    padding: 6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-tags-text {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding: 4rem;
    gap: 2.5rem;
    color: #30645F;
}

.trending-tags-text p {
    text-align: center;
}

.tags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    max-width: 100%;
}

.featured-artworks{
    min-height: fit-content;
    background-color: #9FC4BD;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.featured-artworks-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: #30645F;
}

.featured-artworks-text p {
    text-align: center;
}

.fa-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.fa-card{
    width: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    gap: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.fa-card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 20px; /* Stronger shadow */
    cursor: pointer;
}

.fa-card img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 20px;
}

.fa-art-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    font-family: "Lexend Deca", sans-serif;
    color: #30645F;
}

.fa-art-content .art-title {
    font-weight: 500;
    font-size: 1.15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-art-content .art-artist {
    font-weight: 400;
    font-size: 0.85rem;
}

.art-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.art-likes img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    border-radius: 0px;
}

.art-likes p {
    font-weight: 400;
    font-size: 1.2rem;
}

/* GALLERY */
.gallery{
    min-height: 100vh;
    background-color: #F4F0E5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2rem 3.5rem;
    gap: 1.5rem;
}

.gallery h1{
    font-size: 2.25em;
}

.gallery-status{
    color: #30645F;
    font-size: 1.15em;
}

.gallery-tags-container{
    display: flex;
    gap: 0.75rem;
    padding-bottom: 2rem;
}

.gallery-tags-container p{
    font-size: 1.15em;
}

.gallery-status{
    font-size: 1em;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
    padding-bottom: 5rem;
}

.gallery-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.gallery-item h2{
    font-family: "Lexend Deca", sans-serif;
    color: #30645F;
    font-weight: 500;
    font-size: 1.25em;
}

.gallery-item p{
    color: #30645F;
    font-size: 1em;
}

.gallery-item img{
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 110vh;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.modal-content{
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    width: 50%;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-close{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 1rem;
}

.modal-close img{
    width: 5%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.modal-body{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.modal-body img{
    width: 45%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.modal-text{
    align-items: start;
    justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #30645F;
    font-family: "Lexend Deca", sans-serif;
    width: 42.5%;
}

.modal-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modal-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-header h2{
    font-size: 2.25em;
    font-weight: 600;
}

.modal-header h3{
    font-size: 1.25em;
    font-weight: 500;
}

.modal-header .tags{
    font-size: 0.75em;
    font-weight: 400;
    padding: 0.5rem 0.75rem;
    border-radius: 15px;
}

.modal-desc p{
    font-size: 0.85em;
}

.modal-like{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}


.modal-like-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #c4613a;
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: 25px;
}

.modal-like-content img{
    width: 30%;
}

.modal-like-content p{
    color: white;
}


/* ABOUT US */
.about-picverse{
    min-height: fit-content;
    background-color: #F4F0E5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    gap: 4rem;
}

.about-picverse-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    max-width: 50%;
}

.about-picverse-text h1 {
    text-align: start;
}

.about-picverse-text a{
    font-size: 1.35rem;
}

.about-picverse-text a:hover{
    background-color: #EBE6D6;
}

.about-slider-container { 
    width: 25rem;
    height: 32.5rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.about-slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0;
}

.about-slider-image.active {
    opacity: 1;
}

.vision-mission{
    min-height: fit-content;
    background-color: #9FC4BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 6rem 2rem;
    color: #30645F;

}

.vision-mission h1{
    max-width: 40%;
}

.vision-mission p {
    text-align: center;
    max-width: 50%;
}

.vision-mission-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    max-width: 80%;
}

.vm-card{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: start;
    padding: 2rem 2rem;
    gap: 1.25rem;
    background-color: #B5DAD3;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.vm-card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 20px; /* Stronger shadow */
    cursor: pointer;
}

.vm-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.vm-header img{
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 50px;
    background-color: #F4F0E5;
}

.vm-header h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.vm-card p{
    text-align: justify;
    max-width: 100%;
}

.key-features{
    min-height: fit-content;
    background-color: #F4F0E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 6rem 2rem;
    color: #30645F;
}

.key-features p{
    max-width: 55%;
    text-align: center;
}

.key-features-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    max-width: 80%;
}

.kf-card{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    gap: 2rem;
    background-color: #EBE6D6;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.kf-card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 20px; /* Stronger shadow */
    cursor: pointer;
}

.icon-container {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #DD7B55;
    padding: 1rem;
}

.icon-container img{
    width: 4rem;
    height: 4rem;
}


.kf-card h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.kf-card p{
    text-align: justify;
    max-width: 100%;
}


/* COMMUNITY */
.community{
    min-height: 100vh;
    background-color: #9FC4BD;
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem;
    gap: 1rem;
    overflow: hidden;
}

.activity-profile, .active-users{
    width: 20%;
}

.activity-profile-content{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.community-card{
    background-color: white;
    border-radius: 15px;
}

.community-container{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.community h2{
    font-family: "Space Grotesk", sans-serif;
    color: #30645F;
    font-size: 1.4em;
}

.profile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.profile img{
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.username{
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.username h4{
    font-family: "Lexend Deca", sans-serif;
    color: #30645F;
    font-size: 1em;
    font-weight: 500;
}

.username p{
    font-size: 0.8em;
}

.activity-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
}

.activity-item img{
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.activity-item p{
    font-size: 0.65em;
    text-align: start;
}

.forum {
    width: 60%;
    overflow-y: auto;
    max-height: 100vh;
}

.forum-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

::-webkit-scrollbar{
    display: none;
}

.forum-item{
    background-color: white;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.forum-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.forum-profile{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;
}

.forum-profile img{
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.forum-header p{
    font-size: 0.9em;
}

.forum-item h2{
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.6em;
    font-weight: 500;
}

.likes-comments{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 2rem;
}

.likes, .comments{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
}

.likes img, .comments img{
    width: 1.15rem;
    aspect-ratio: 1/1;
}

.likes p, .comments p{
    font-size: 1em;
}

.active-users-container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 30rem;
    overflow-y: auto;
}

.active-profile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.active-profile img{
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.active-username{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.active-username h4{
    font-family: "Lexend Deca", sans-serif;
    color: #30645F;
    font-size: 0.8em;
    font-weight: 500;
}

.active-username p{
    font-size: 0.7em;
}

/* SUBMISSION */
.submission-header{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30645F;
}
.submission-header img{
    position: absolute;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    display: flex;
    filter: opacity(0.5);
}

.submission-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 60%;
}

.submission-text > h1, 
.submission-text > p {
    text-align: center;
    color: white;
}


.submission-container{
    height: fit-content;
    background-color: #9FC4BD;
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.alert{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: 3px solid #30645F;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 20px;
}

.alert img{
    width: 3rem;
    height: 3rem;
}

.alert p{
    font-size: 1.15em;
    font-weight: 500;
}

.submission-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.85rem;
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.question-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.number{
    color: #F4F0E5;
    background-color: #DD7B55;
    border-radius: 30px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    color: #30645F;
    font-weight: 500;
}

.input-container{
    margin-left: 3rem;
    display: flex;
}

.input-box{
    font-family: "Lexend Deca", sans-serif;
    width: 100%;
    padding: 1rem;
    background-color: #F4F0E5;
    outline: none;
    border: none;
    border-radius: 5px;
}

textarea{
    height: 3rem;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    border: 2px dashed #A5A5A5;
    border-radius: 10px;
    background-color: #F4F0E5;
    cursor: pointer;
    transition: border-color 0.3s;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.upload-box span {
    font-size: 1em;
    background-color: #30645F;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.file-name {
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: #30645F;
}

.file-thumbnail {
    max-width: 15rem;
    max-height: 10rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #A5A5A5;
}


.radio-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "Lexend Deca", sans-serif;
    color: #30645F;
    font-weight: 500;
    cursor: pointer;
    padding: 0rem 1rem;
}

.radio-input {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #30645F;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-input:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #30645F;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-message{
    color: red;
    font-size: 0.75em;
    font-family: "Lexend Deca", sans-serif;
    padding: 0.25rem;
    margin-left: 3rem;
}

.buttons p{
    padding: 0rem 4rem;
    color: white;
}

.buttons p:hover{
    color: #DD7B55;
}
