/* HERO SECTION */
.hero {
    background-color: #30645F;
    width: 100%;
    height: fit-content;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
    opacity: 0;
}

.slider-image.active {
    opacity: 1;
}

.tagline {
    position: absolute;
    top: 0; /* Ensure it covers the full height */
    left: 0; /* Ensure it covers the full width */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 5rem;
}

.tagline h1 {
    color: white;
    text-align: center;
    max-width: 50rem;
    font-size: 4em;
}

.artwork-info {
    position: absolute;
    bottom: 6rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.1rem;
    opacity: 0;
}

.artwork-info p {
    color: white;
}

.artwork-info.active {
    opacity: 1;
}

/* INTRO SECTION */
.intro {
    background-color: #9FC4BD;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-text {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    padding: 8rem;
    gap: 2rem;
}

.intro-text h1 {
    text-align: start;
}

#intro-p-1 {
    margin-bottom: 0.75rem;
}

#intro-img {
    width: 40%;
    height: 80vh;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* TRENDING TAGS SECTION */
.trending-tags {
    background-color: #F4F0E5;
    min-height: fit-content;
    padding: 6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-tags-text {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding: 4rem;
    gap: 2.5rem;
}

.trending-tags-text h1 {
    text-align: center;
}

.trending-tags-text p {
    text-align: center;
}

.tags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    max-width: 100%;
}

/* FEATURED ARTWORKS SECTION */
.featured-artworks {
    background-color: #9FC4BD;
    min-height: fit-content;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.featured-artworks-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.featured-artworks-text h1 {
    text-align: center;
}

.featured-artworks-text p {
    text-align: center;
}

.fa-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.fa-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
}

.fa-card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 20px;
    transform: scale(1.05);
}

.fa-card img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 20px;
}

.fa-art-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.fa-art-content .art-title {
    font-size: 1.15rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-art-content .art-artist {
    font-size: 0.85rem;
    font-weight: 400;
}

.art-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.art-likes img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    border-radius: 0;
}

.art-likes p {
    font-size: 1.2rem;
    font-weight: 400;
}