@media screen and (min-width: 901px) {
    .navbar-responsive,
    .nav-responsive-menu, .footer-responsive {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    body{
        overflow-x: hidden;
        padding-top: 4rem;
    }

    .navbar, .footer-container {
        display: none;
    }

    .navbar-responsive {
        background-color: #30645F;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1001;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hamburger-menu {
        height: 30px;
    }

    .picverse-logo-responsive {
        height: 40px;
    }

    .nav-container-responsive {
        padding: 1rem 2rem;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1.25rem;
    }

    .nav-responsive-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        background-color: #30645F;
        border-top: 1px solid #9FC4BD;
        z-index: 1000;
        top: 4.5rem;
        position: fixed;
        width: 100%;
    }

    .nav-responsive-menu.show {
        max-height: 1000px; 
    }

    .nav-items-responsive {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 1rem;
        margin: 0;
    }

    .nav-items-responsive a {
        font-family: "Lexend Deca", sans-serif;
        text-decoration: none;
        font-weight: normal;
        font-size: 1rem;
        color: white;
        padding: 0.5rem 1rem;
        transition: all 0.3s;
    }

    .nav-items-responsive a:hover {
        color: #9FC4BD;
    }

    .tagline h1{
        max-width: 40rem;
    }

    /* HOME */
    .intro{
        flex-direction: column;
        padding: 6rem 0rem;
        gap: 4rem;
    }

    #intro-img{
        width: 80%;
        height: 40vh;
        border-radius: 20px;
    }

    .intro-text{
        display: flex;
        flex-direction: column;
        max-width: 70%;
        padding: 1.5rem;
        gap: 2rem;
        color: #30645F;
    }

    .trending-tags-text {
        padding: 2rem;
        max-width: 75%;
        flex-shrink: 1;
    }

    .featured-artworks-text {
        max-width: 80%;
    }

    .fa-container {
        display: flex;
        flex-direction: row-;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90%;
    }

    /* GALLERY */
    .gallery-tags-container{
        flex-wrap: wrap;
        flex-shrink: 10;
        max-width: 45rem;
    }
    
    .gallery-tags-container p{
        font-size: 1em;
    }

    .modal-content{
        width: 40%;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        align-items: center;
    }

    .modal-body img{
        width: 60%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    .modal-text{
        width: 80%;
    }

    .modal-header h2{
        font-size: 1.9em;
    }
    
    .modal-header h3{
        font-size: 1em;
    }
    
    .modal-header .tags{
        font-size: 0.85em;
    }
    
    .modal-desc p{
        font-size: 0.75em;
    }

    .modal-like-content img{
        width: 30%;
    }

    /* ABOUT US */
    .about-picverse{
        display: flex;
        flex-direction: column-reverse;
        padding: 4rem 2rem;
        gap: 4rem;
    }

    .about-picverse-text{
        max-width: 90%;
        align-items: center;
    }

    .about-picverse-text h1 {
        text-align: center;
    }

    .about-slider-container { 
        width:30rem;
        height: 40rem;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        position: relative;
        overflow: hidden;
        object-fit: cover;
    }

    .vision-mission h1{
        max-width: 80%;
    }
    
    .vision-mission p {
        max-width: 80%;
    }

    .vision-mission-container p{
        max-width: 100%;
    }

    .vision-mission-container{
        flex-direction: column;
    }

    .key-features p{
        max-width: 80%;
    }

    .key-features-container{
        flex-direction: column;
        max-width: 70%;
    }

    .key-features-container p{
        max-width: 100%;
    }
    
    /* COMMUNITY */
    .forum{
        order: 1;
    }

    .activity-profile{
        order: 2;
    }

    .recent-activity{
        order: 3;
    }

    .responsive-pfp{
        padding: 1rem 2rem;
    }

    .responsive-pfp img{
        aspect-ratio: 1/1;
        height: 40px;
        object-fit: cover;
        border-radius: 50px;
    }

    .community{
        padding-top: 2rem;
        flex-direction: column;
    }

    .forum-container{
        margin: 0rem 0.5rem;
    }

    .activity-profile, .recent-activity{
        width: 100%;
    }

    .community-card{
        background-color: transparent;
        border-radius: 5px;
        box-shadow: none;
    }

    #profile-container{
        display: none;
    }

    #profile-divider{
        display: none;
    }

    .profile img{
        width: 7.5%;
    }

    .profile > .buttons{
        display: none;
    }

    .username{
        display: none;
    }

    .active-users-container{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        height: fit-content;
        overflow-x: auto;
    }

    #active-users-container{
        background-color: white;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.160) 0px 4px 4px;
    }

    .active-profile{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        min-width: 6rem;
        height: fit-content;
        padding: 0rem 0.25rem;
    }

    .active-profile img{
        width: 60%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }

    .active-username{
        align-items: center;
    }

    .forum {
        max-height: fit-content;
        width: 100%;
        padding-bottom: 3rem;
    }

    .forum-container{
        padding: 0rem;
    }

    #recent-activity-container{
        background-color: white;
        border-radius: 5px;
        margin-bottom: 2rem;
        box-shadow: rgba(0, 0, 0, 0.160) 0px 4px 4px;
    }

    #recent-activity-container img{
        width: 9.5%;
    }

    #recent-activity-container p{
        max-width: 85%;
    }

    .activity-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        align-items: center;
    }
    
    .activity-item img{
        width: 7.5%;
    }
    
    .activity-item p{
        font-size: 0.85em;
        text-align: start;
    }

    /* SUBMISSION */
    .submission-text{
        max-width: 85%;
    }

    /* FOOTER */
    .footer-responsive{
        min-height: fit-content;
        background-color: #30645F;
        padding: 2rem 2rem;
    }

    .footer-responsive a{
        color: white;
        cursor: pointer;
    }

    .picverse-logo-footer{
        height: 20px;
    }

    hr{
        margin: 1rem 0rem;
    }

    .responsive-footer-cpy{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Lexend Deca", sans-serif;
        font-weight: 400;
        font-size: 0.75em;
    }

    .responsive-footer-cpy p{
        color: white;
        font-size: 1em;
    }

    .footer-responsive{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: "Lexend Deca", sans-serif;
        font-weight: 600;
        font-size: 1.15em;
        color: white;
    }

    .quick-links, .contact-us{
        gap: 0rem;
        width: 100%;
    }

    .quick-links-header, .contact-us-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .quick-links-header img, .contact-us-header img{
        height: 25px;
    }

    .quick-links p, .contact-us p{
        font-weight: 400;
        font-size: 1em;
        color: white;
    }

    .quick-links-menu, .contact-us-menu{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        width: 100%;
        padding-top: 1rem;
    }

    .quick-links-menu.show, .contact-us-menu.show {
        max-height: 100px; 
    }
}
